.view-prescription-outer {
  width: 100%;
  height: 100%;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
}

.view-prescription {
  left: 0;
  right: 0;
  top: 1%;
  bottom: 0;
  margin: auto;
  background: white;
}

.back-button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background-color: #51c9c2;
  color: white;
}

.back-svg {
  --size: 14px;
  width: var(--size);
  height: var(--size);
  margin-right: 10px;
  fill: white;
}
.view-prescription-inner {
  display: flex;
  height: 75vh;
  justify-content: space-around;
  border: 1px solid #51c9c2;
}

.img-viewer {
  width: 50%;
  overflow: scroll;

  img {
    width: 100%;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #51c9c2;
  }
}

.check-list {
  width: 50%;
  display: flex;
  flex-direction: column;

  .check-list-container {
    padding: 5px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }
}

.call-to-actions {
  display: flex;
  flex-direction: row;
  bottom: 0px;
  margin: auto;
  justify-content: space-evenly;

  .cta {
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #51c9c2;
    color: white;
    margin: 10px 15px;
  }

  .cta-additem {
    margin-right: auto;
  }
}
